<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/style.css">

<script src="public/slapEmir.js" type="text/javascript"></script>
</head>
<body>

	<div class="container" id="container">
	<p id="samplePar">Hi Emirrr !!!</p>
		<div class="faceLocation" id="faceLocation">
			
			<p>Show Must Go On!!!</p>
			<div class="bodyPic" id="bodyPic"></div>
			<div class="actionArea" id="actionArea">
				<div class="face" id="face"></div>
			</div>
		</div>
		<div id="counter"></div>
	</div>	
</body>
</html>
